section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff4df;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.infoBox {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.SLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  height: 2rem;
  width: 23rem;
  margin-top: 1rem;
}

button {
  background-color: #ffc865;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.25rem 1.5rem;
  color: #fff;
  cursor: pointer;
  margin-top: 3rem;
}

.completeBtn {
  margin-right: 1rem;
}

.toLogin {
  margin-top: 1rem;
  color: #fff;
  text-decoration: none;
}
