.searchText {
  font-size: 20px;
  color: white;
  text-align: center;
}

.searchInput {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}

.pItem {
  color: red;
  display: flex;
  margin: auto;
}
