table{
    width: 80%;
    border: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
}
th, td{
    border: 1px solid #444444;
}
.main{
    background: fff4df;
}
.mypage {
    background-color: #fff4df;
  }
.form{
    margin-left: 15%;
}
.wishlist{
    margin-left: 44%;
}
.list{
    margin-left: 43%;
}